@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin border-shadow($border_color, $shadow_color) {
	border: solid 2px $border_color;
	box-shadow: 1px 1px 1px $shadow_color, -1px 1px 1px $shadow_color;
}

@mixin border-row($border_color, $shadow_color, $background_first_color, $color) {
	@include border-shadow($border_color, $shadow_color);	
	background: -webkit-linear-gradient(left, $background_first_color, $background_last_color);
	background: linear-gradient(right, $background_first_color, $background_last_color);
	color: $color;
}