@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  -o-hyphens:    auto;
  hyphens:         auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: width $transition;
}

@mixin border-shadow($border_color, $shadow_color) {
	border: solid 2px $border_color;
	box-shadow: 1px 1px 1px $shadow_color, -1px 1px 1px $shadow_color;
}

@mixin border-row($border_color, $shadow_color, $background_first_color, $color) {
	@include border-shadow($border_color, $shadow_color);	
  @include radial-gradient(top left, $background_first_color, $background_last_color);
	color: $color;
}

@mixin radial-gradient($direction, $first_color, $last_color) {
  background: -webkit-radial-gradient($direction, $first_color, $last_color);
  background: -moz-radial-gradient($direction, $first_color, $last_color);
  background: -o-radial-gradient($direction, $first_color, $last_color);
  background: -ms-radial-gradient($direction, $first_color, $last_color);
  background: radial-gradient(at $direction, $first_color, $last_color);
}
 
@mixin linear-gradient-left($first_color, $last_color) {
  background: -webkit-linear-gradient(left, $first_color, $last_color);  
  background: -moz-linear-gradient(left, $first_color, $last_color);  
  background: -o-linear-gradient(left, $first_color, $last_color);
  background: -ms-linear-gradient(left, $first_color, $last_color);
  background: linear-gradient(right, $first_color, $last_color);
}