/*main sass includes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

progress,
progress[role] {
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* gets rid of default border in Firefox and Opera. */
  border: none;
  /* Needs to be in here for Safari polyfill so background images work as expected. */
  background-size: auto;
  /* Dimensions */
  width: 400px;
  height: 60px;
}

/* Polyfill */
progress[role]:after {
  background-image: none;
  /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
  display: none;
}

.arrow_green_up, .arrow_red_down, .arrow_yellow_right, .brick_blue, .brick_green, .brick_red, .computer_blue, .computer_green, .computer_grey {
  background: url(../img/sprites.png) no-repeat;
}

span.arrow_green_up, span.arrow_red_down, span.arrow_yellow_right, span.brick_blue, span.brick_green, span.brick_red, span.computer_blue, span.computer_green, span.computer_grey {
  display: inline-block;
}

.arrow_green_up {
  background-position: 0 0;
  width: 49px;
  height: 54px;
}

.arrow_red_down {
  background-position: -55px 0;
  width: 50px;
  height: 55px;
}

.arrow_yellow_right {
  background-position: -116px 0;
  width: 54px;
  height: 50px;
}

.brick_blue {
  background-position: -179px -13px;
  width: 30px;
  height: 24px;
}

.brick_green {
  background-position: -223px -13px;
  width: 31px;
  height: 25px;
}

.brick_red {
  background-position: -267px -14px;
  width: 29px;
  height: 24px;
}

.computer_blue {
  background-position: -307px 0;
  width: 66px;
  height: 60px;
}

.computer_green {
  background-position: -392px -10px;
  width: 30px;
  height: 26px;
}

.computer_grey {
  background-position: -435px -11px;
  width: 30px;
  height: 27px;
}

/*Variables*/
/*grid*/
/*fonts*/
/*colors*/
* {
  box-sizing: border-box;
}

[class*="grid-"] {
  float: left;
  padding: 0 2px;
  margin-bottom: 10px;
}

.grid-1 {
  width: 12.5%;
}

.grid-2 {
  width: 25%;
}

.grid-3 {
  width: 37.5%;
}

.grid-4 {
  width: 50%;
}

.grid-5 {
  width: 62.5%;
}

.grid-6 {
  width: 75%;
}

.grid-7 {
  width: 87.5%;
}

.grid-8 {
  width: 100%;
}

body {
  background: -webkit-radial-gradient(top left, #f5f8fb, #ffffff);
  background: radial-gradient(at top left at top left, #f5f8fb, #ffffff);
  font-family: sans-serif;
  font-size: small;
}

progress[value] {
  width: 40px;
  height: 25px;
  border: solid 1px #c7c7c7;
  position: relative;
  bottom: 6px;
}

progress,
progress[role][aria-valuenow] {
  /* Polyfill */
  background: #d8d8d8 !important;
  /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: #d8d8d8;
}

/* IE10 */
progress {
  color: #5e9cd3;
}

/* Firefox */
progress::-moz-progress-bar {
  background: #5e9cd3;
}

/* Chrome */
progress::-webkit-progress-value {
  background: #5e9cd3;
}

/* Polyfill */
progress[aria-valuenow]:before {
  background: #5e9cd3;
}

.changelist {
  text-align: center;
  margin: 10px;
  /* IE10 */
  /* Firefox */
  /* Chrome */
  /* Polyfill */
  /* IE10 */
  /* Firefox */
  /* Chrome */
  /* Polyfill */
}
.changelist .header {
  margin-bottom: 10px;
}
.changelist .build {
  text-align: left;
}
.changelist .build .icon {
  position: relative;
  bottom: 7px;
}
.changelist .build .machine-name {
  vertical-align: top;
  padding-left: 10px;
}
.changelist .row {
  height: 35px;
  padding-top: 9px;
}
.changelist .pending {
  border: solid 2px #cacccd;
  box-shadow: 1px 1px 1px #e7e9ec, -1px 1px 1px #e7e9ec;
  background: -webkit-linear-gradient(left, #edf2fa, #ffffff);
  background: linear-gradient(right, #edf2fa, #ffffff);
  color: #8b8d97;
}
.changelist .running {
  border: solid 2px #427fb3;
  box-shadow: 1px 1px 1px #ccdceb, -1px 1px 1px #ccdceb;
  background: -webkit-linear-gradient(left, #edf2fa, #ffffff);
  background: linear-gradient(right, #edf2fa, #ffffff);
  color: #1d2d58;
}
.changelist .complete, .changelist .accepted {
  border: solid 2px #548039;
  box-shadow: 1px 1px 1px #d2e1cd, -1px 1px 1px #d2e1cd;
  background: -webkit-linear-gradient(left, #f1f5f0, #ffffff);
  background: linear-gradient(right, #f1f5f0, #ffffff);
  color: #496547;
}
.changelist .rejected {
  border: solid 2px #be0712;
  box-shadow: 1px 1px 1px #e8bbc0, -1px 1px 1px #e8bbc0;
  background: -webkit-linear-gradient(left, #fbe3e3, #ffffff);
  background: linear-gradient(right, #fbe3e3, #ffffff);
  color: #c52b38;
}
.changelist progress[value] {
  border: solid 2px #c7c7c7;
  box-shadow: 1px 1px 1px #e7e9ec, -1px 1px 1px #e7e9ec;
}
.changelist progress.complete {
  color: #548039;
}
.changelist progress.complete::-moz-progress-bar {
  background: #548039;
}
.changelist progress.complete::-webkit-progress-value {
  background: #548039;
}
.changelist progress[aria-valuenow].complete:before {
  background: #548039;
}
.changelist progress.rejected {
  color: #be0712;
}
.changelist progress.rejected::-moz-progress-bar {
  background: #be0712;
}
.changelist progress.rejected::-webkit-progress-value {
  background: #be0712;
}
.changelist progress[aria-valuenow].rejected:before {
  background: #be0712;
}
